[alias]
	lg = log --graph --oneline --decorate --all
	s = status
	cm = commit -m
	co = checkout
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[user]
	email = jostein.lysberg@gmail.com
	name = JLysberg
